<div class="modal fade" id="modalExcluirTarefa" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Excluir Tarefa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir esta tarefa?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cursor-pointer" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-danger cursor-pointer" id="btnExcluirTarefa">Sim</button>
            </div>
        </div>
    </div>
</div>