<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#"><img src="/img/logo.png" title="Staff" id="logostaff" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav w-100">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
            	<a class="nav-link" href="/task/open">Tarefas em aberto</a>
          	</li>
			<li class="nav-item">
				<a class="nav-link" href="/tarefas-concluidas">Tarefas concluídas</a>
          	</li>
			<li class="nav-item">
				<a class="nav-link" href="/task/create">Solicitar nova tarefa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/pesquisar">Pesquisar por tarefa</a>
			</li>
			<li class="nav-item ml-auto">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
		</ul>
	</div>
</nav>
