<!DOCTYPE html>
<html lang="pt-br">

  <% include shared/header.ejs %>

  <body>
    <!-- Navbar -->
    <% include shared/navbar.ejs %>

    <!-- Content -->
    <section id="texto-intro">
      <div class="container col-md-6 text-center">
        <p class="lead">
          O que precisa que seja feito?
        </p>
      </div>
    </section>
    <section id="formulario">
      <div class="container text-left col-md-6">
        <form id="createTaskForm">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Título da tarefa">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <input type="text" class="form-control" id="inputPrice" name="inputPrice" placeholder="$$$">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="inputDeadline" name="inputDeadline" placeholder="Prazo">
              </div>
            </div>
          </div>
          <div class="form-group">
            <span class="row">
              <div class="col">
                <textarea class="form-control" id="inputDescription" rows="3" placeholder="Descrição da tarefa"></textarea>  
              </div>
            </span>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="inputCEP" data-inputmask="'mask': '99999-999'" placeholder="CEP" maxlength="9">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary buttonSubmit">Registrar</button>
        </form>
      </div>
      <br/><br/>
    </section>

    <!-- Footer -->
    <% include shared/footer.ejs %>

  </body>
</html>
