<!DOCTYPE html>
<html>
	<% include shared/header.ejs %>
		
	<body>
		<!-- Navbar -->
		<% include shared/navbar.ejs %>
		
		<!-- Content -->
		<div class="container-fluid">
			<div class="row">
				<div style="padding-top: 20px; margin: auto;">
					<h2>Erro 404 - :)</h2>
					<p>Página não encontrada</p>
				</div>
			</div>
		</div>
		
		<!-- Footer -->
		<% include shared/footer.ejs %>
	</body>
</html>