<!DOCTYPE html>
<html lang="pt-br">

  <% include shared/header.ejs %>

  <body>
    <!-- Navbar -->
    <% include shared/navbarProfile.ejs %>
	
	  <!-- Painel -->
	  <section class="content-section text-center mt-5" id="painel-home">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <a href="#" class="serviceIconRoute">
              <span class="service-icon rounded-circle mx-auto text-center">
                <i class="fa fa-list-ol"></i>
              </span>
              <h4>
                <strong>Pesquisar por tarefa</strong>
              </h4>
              <p>Pesquise pelas tarefas listadas.</p>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="/task/open" class="serviceIconRoute">
              <span class="service-icon rounded-circle mx-auto text-center">
                <i class="fa fa-check"></i>
              </span>
              <h4>
                <strong>Tarefas em aberto</strong>
              </h4>
              <p>Aqui serão exibidas as tarefas em aberto.</p>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="serviceIconRoute">
              <span class="service-icon rounded-circle mx-auto text-center">
                <i class="fa fa-plus"></i>
              </span>
              <h4>
                <strong>Tarefas concluídas</strong>
              </h4>
              <p>Clique aqui caso queira exibir tarefas concluídas.
              </p>
            </a>
          </div>
          <div class="col-sm-3">
            <a href="#" class="serviceIconRoute">
              <span class="service-icon rounded-circle mx-auto text-center">
                <i class="fa fa-search"></i>
              </span>
              <h4>
                <strong>Solicitar nova tarefa</strong>
              </h4>
              <p>Para solicitar no tarefa clique nessa opção.</p>
            </a>
          </div>
        </div>
      </div>
    </section>
	
    <!-- Footer -->
    <% include shared/footer.ejs %>

  </body>

</html>
