<!DOCTYPE html>
<html lang="pt-br">

  <% include shared/header.ejs %>

  <body>
    <!-- Navbar -->
    <% include shared/navbarProfile.ejs %>
    
    <!-- Content -->
    <section id="texto-intro">
      <div class="container text-left">
        <br/>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
            <p class="lead">
              Você entrou na sua conta!
            </p>
          </div>
        </div>
      </div>
    </section>
    
	<section id="card-home">
      <div class="container">
        <br/>
		<div class="card-group">
		  <div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
			  <h5 class="card-title">Tarefas em aberto</h5>
			  <p class="card-text">Aqui serão exibidas as tarefas em aberto.</p>
			</div>
		  </div>
		  <div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
			  <h5 class="card-title">Tarefas concluídas</h5>
			  <p class="card-text">Clique aqui caso queira exibir tarefas concluídas.</p>
			</div>
		  </div>
		  <div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
			  <h5 class="card-title">Solicitar nova tarefa</h5>
			  <p class="card-text">Para solicitar no tarefa clique nessa opção.</p>
			</div>
		  </div>
		  <div class="card">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body">
			  <h5 class="card-title">Pesquisar por tarefa</h5>
			  <p class="card-text">Pesquise pelas tarefas listadas.</p>
			</div>
		  </div>
		</div>
	  </div>
    </section>
	
	
    <!-- Footer -->
    <% include shared/footer.ejs %>

  </body>

</html>
