<!DOCTYPE html>
<html lang="pt-br">

  <% include shared/header.ejs %>

  <body>
    <!-- Navbar -->
    <% include shared/navbar.ejs %>
    
    <!-- Content -->
    <section id="texto-intro">
      <div class="container text-left">
        <br/>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 text-center">
            <p class="lead">
              Você entrou na sua conta!
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <% include shared/footer.ejs %>

  </body>

</html>
