<!DOCTYPE html>
<html lang="pt-br">

  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    
    <!--link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"-->

    <title>Staff - Uma nova maneira de recrutar seu staff</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="/css/stylish-portfolio.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="/">Staff</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/login">Entrar</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/signup">Cadastre-se</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/#about">O que é o Staff?</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/#services">Diferenciais</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="/#map">Localização</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Staff</h1>
        <h3>Uma nova maneira de recrutar seu "Staff"</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Descubra mais</a>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container text-center">
        <h2>O que é o Staff?</h2>
        <p class="lead">Um jeito inovador de encontrar pessoas para fazerem parte do seu "Staff"</p>
        <br/>
        <h2>Como funciona?</h2>
        <p class="lead">
        1. Cadastre-se<br/>
        2. Informe a tarefa que você quer que alguém faça<br/>
        3. Receba uma cotação e aprove<br/>
        4. Avalie a tarefa realizada<br/>
        </p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services text-white myClass">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            <h2>Diferenciais</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-search fa-stack-1x myClass"></i>
                  </span>
                  <h4>
                    <strong>Fácil de encontrar</strong>
                  </h4>
                  <p>Encontre rapidamente um profissional para realizar<br/> sua tarefa.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-id-card-o fa-stack-1x myClass"></i>
                  </span>
                  <h4>
                    <strong>Fácil de contratar</strong>
                  </h4>
                  <p>Defina o valor e feche a execução sem burocracia.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x myClass"></i>
                  </span>
                  <h4>
                    <strong>Profissionais recomendados</strong>
                  </h4>
                  <p>Nosso sistema de avaliação permite a você escolher os melhores profissionais.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x myClass"></i>
                  </span>
                  <h4>
                    <strong>Serviço garantido</strong>
                  </h4>
                  <p>Se qualquer coisa não funcionar, ajudamos você<br/> a resolver.</p>
                  <!--<a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
      <div class="text-vertical-center">
        <h1>Staff</h1>
      </div>
    </aside>

   
    <!-- Call to Action -->
    <aside class="call-to-action text-white myClass">
      <div class="container text-center">
        <h3>Comece agora mesmo!</h3>
        <a href="/signup" class="btn btn-lg btn-light">Cadastre-se</a>
        <a href="/login" class="btn btn-lg btn-dark">Entre na sua conta</a>
      </div>
    </aside>

    <!-- Map -->
    <section id="map" class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.2859456987444!2d-46.663741385805054!3d-23.558171567357856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59905987b185%3A0x694b9d3b5828073f!2sFaculdade+de+Tecnologia+Bandeirantes+-+Bandtec!5e0!3m2!1spt-BR!2sbr!4v1509144350969" width="100%" height="300" marginheight="0" marginwidth="0" frameborder="0" style="border:0" allowfullscreen></iframe>
      <br/>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>Staff</strong>
            </h4>
            <p>Rua Haddock Lobo, 595
              <br>São Paulo - SP</p>
            <ul class="list-unstyled">
                <i class="fa fa-envelope-o fa-fw"></i>
                <a style="color:#8659A3" href="mailto:staff.firstfive@gmail.com">staff.firstfive@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://facebook.com/stafirstfive">
                  <i class="fa fa-facebook fa-fw fa-3x" style="color:#8659A3"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; FirstFive 2017</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/stylish-portfolio.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108862038-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-108862038-1');
    </script>

  </body>

</html>
