<!DOCTYPE html>
<html lang="pt-br">

  <% include shared/header.ejs %>

  <body>
    <!-- Navbar -->
    <% include shared/navbar.ejs %>

    <!-- Content -->
    <section id="texto-intro">
      <div class="container col-md-6 text-center">
          <p class="lead">
            Preencha os campos abaixo para entrar na sua conta. Se ainda não tiver um cadastro, <a href="/signup">clique aqui</a>.
          </p>
      </div>
    </section>
    <section id="formulario">
      <div class="container text-left col-md-6">
        <form action="/login" method="post" id="loginForm">
          <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Seu e-mail" />
            <span class="help-block text-danger" id="helpBLockEmail">
          </div>
          <div class="form-group">
            <label for="inputSenha">Senha</label>
            <span class="form-row">
              <span class="col-11" style="">
                <input type="password" class="form-control" name="inputSenha" id="inputSenha" placeholder="Sua senha" autocomplete="off" />
              </span>
              <span class="col-1 align-middle">
                <i class="fa fa-eye" id="btnShowPassword" aria-hidden="true"></i>
              </span>
              <span class="help-block text-danger" id="helpBLockSenha">
            </span>
          </div>
          <button type="submit" class="btn btn-primary buttonSubmit" id="loginButton">Entrar</button>
        </form>
      </div>
      <br/><br/>
    </section>

    <!-- Footer -->
    <% include shared/footer.ejs %>

  </body>
</html>
