<!DOCTYPE html>
<html lang="pt-br">

    <% include shared/header.ejs %>

<body>
    <!-- Navbar -->
    <% include shared/navbarProfile.ejs %>

    <section class="col-sm-12 taskWrapper" id="openTaskWrapper">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h3>Abertas por você</h3>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-sm-5 openTaskBox">
                    <h4 class="titleTarefas">Tarefas "sem dono"</h4>
                    <hr />
                    <div id="openTaskPersonal"></div>
                </div>

                <div class="col-sm-5 openTaskBox">
                    <h4 class="titleTarefas">Tarefas "com dono"</h4>
                    <hr />
                    <div id="openTaskTaken"></div>
                </div>

            </div>
        </div>
    </section>

    <section class="col-sm-12 taskWrapper" id="recommendedTasksWrapper">
        <div class="container-fluid">
            <div class="col-sm-12">
                <h3>Tarefas abertas que estão com você</h3>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-sm-11 openTaskBox">
                    <div id="recommendedTasks">
                        <h4 class="titleTarefas">Tarefas em aberto</h4>
                        <hr />
                        <div id="openTasksWithYou"></div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <% include shared/footerProfile.ejs %>
</body>
</html>
