<html lang="pt-br">

    <% include shared/header.ejs %>

<body>
    <!-- Navbar -->
    <% include shared/navbarProfile.ejs %>
    <form>
        <div class="col-sm-10 mx-auto mt-4">
            <div class="input-group mb-3">
                <input type="text" id="search-text" name="search-text" class="form-control" placeholder="Digite aqui o que deseja pesquisar..." aria-label="Digite aqui o que deseja pesquisar..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary search-btn" type="button" onclick="clickPesquisar()"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-sm-10 mx-auto">
        <% for (var task of tasks) { %>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <p>
                            <b><%= (task.title || "") %></b>
                        </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class='col-sm-3 task-value'>R$ <%= (task.value || "0,00") %></span>
                            <span class='col-sm-9'><span class='pull-right'>Para terminar em: <%= (task.due_date || "") %></span></span>
                            <div class='row'><span class='col-sm-12 text-justify'><%= (task.description || "") %></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        <% } %>
    </div>

</body>