.bg-purple-default {
	background-color: #8659a3;
}

#texto-intro p {
	margin-top: 80px;
}

.buttonSubmit {
	background-color: #8659a3;
	border: 1px solid #8659a3;
}

.buttonSubmit:disabled {
	background-color: #ccc !important;
    border-color: #8659a3 !important;
    color: #fff !important;
}

.buttonSubmit:hover {
	background-color: #fff;
	color: #8659A3;
	border: 1px solid #8659A3;
	cursor: pointer;
}

.buttonSubmit:focus {
	outline: 0;
}

#texto-intro a {
	color: #8659A3;
}

#texto-intro a:hover {
	color: #8659A3;
}

#logoff {
	bottom: 0;
	height: 54px;
	width: 54px;
	margin-top: 67px;
	margin-left: 12px;
}

#logostaff {
	height: 40px;
	width: 40px;
}

footer {
	padding-bottom: 5px;
}

.btnCadastro {
	background-color: #8659A3;
	color: #fff;
	margin-bottom: 30px;
	margin-top: 15px;
}

.btnCadastro:hover {
	background-color: #fff;
	color: #8659A3;
	border: 1px solid #8659A3;
	cursor: pointer;
}

.about {
	background-color: #8659A3;
	color: #fff;
}

.howWorks {
	padding: 50px 0;
}

.comeceAgora {
	background-color: #fff;
}

.btnEntre {
	background-color: #fff;
	color: #8659A3;
	border: 1px solid #8659A3;
	cursor: pointer;
}

.btnEntre:hover {
	color: green;
	border-color: green;
}

#btnShowPassword {
	padding-top: 10%; font-size: 1.8em; color: #8659a3;
}

.textBoxError {
	border-color: red;
}

.service-margin-bottom {
	margin-bottom: 19px;
}

.service-icon {
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7rem;
    font-size: 2.25rem;
	border: 1px solid #8659a3;
	background-color: #8659a3;
	color: #fff;
}

.service-icon:hover {
    border: 1px solid #8659a3;
	background-color: #fff;
	color: #8659a3;	
}

.rounded-circle {
    border-radius: 50% !important;
}

.btnEdit, .btnErase {
    background-color: #fff;
    color: #8659a3;
    border: 1px solid #8659a3;
    cursor: pointer;
}

.btnEdit:hover, .btnErase:hover {
    background-color: #8659a3;
    color: #fff;
    border: 1px solid #8659a3;
    cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

.modal-danger {
	color: #fff !important;
}

.modal-danger .modal-body {
	background-color:#dd4b39 !important;
}

.modal-danger .modal-header, .modal-danger .modal-footer {
	border-color:#c23321;
	background-color:#d33724 !important;
}

.btn-outline {
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: rgba(255,255,255,0.7);
    border-color: rgba(255,255,255,0.7);
}