.openTaskBox {
	margin-top: 15px;
	border: 1px solid black;
}

.taskWrapper {
	margin-top: 30px;
}

.service-icon {
    height: 6rem;
    width: 6rem;
    display: block;
    line-height: 6rem;
    font-size: 2.25rem;
    border: 1px solid #212529;
}

a.userProfileHyperlink {
    text-decoration: none;
    color: #212529;
}
