.openTaskBox {
	margin-top: 15px;
	border: 1px solid #8659a3;
	padding: 25px;
}

.taskWrapper {
	margin-top: 30px;
}

.service-icon {
    height: 3rem;
    width: 3rem;
    display: block;
    line-height: 3rem;
    font-size: 1.25rem;
    border: 1px solid #8659a3;
}

a.userProfileHyperlink {
    text-decoration: none;
    color: #212529;
}

.titleTarefas {
	color: 8659a3;
	font-weight: bold;
}

.rateStars {
	margin-bottom: 10px;
}
